@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.CodingGrid
{
    width: 100vw;
    display: flex; 
    flex-wrap: wrap;
    justify-items: center;
    align-content: flex-start;
    padding-top:20px;
}

.YLine{ 
    margin-left:12%;
    margin-right: 5%;
    margin-top: -2%;
    margin-bottom: -2%;
    height: 25vw;
    background-color: white;
    width: 4px;
}
.XLine{ 
    margin-left:12%;
    margin-right: 12%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 5px;
    background-color: white;
    width: 100%;
}
.GridText {  
    margin-right: 9%;
    width: 40%;
    height: 20vw;
    background-color: rgb(62, 62, 62);
    border: 1% solid rgb(28, 28, 28);
    border-radius: 5px;
}

.GridText p {  
    
    color: white;
    text-align: center;
    
    font-family: 'Ubuntu';
    font-size: 2vw;
    text-wrap: wrap;
    white-space: normal;
    word-wrap: break-word;
}
.GridImage {

  background-color: rgb(88, 57, 57);
  height: 20vw;
  width: 20vw;
  
}